################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventEaseAPI/bin
/EventEaseBooking/bin
/.vs/EventEaseBooking/v17
/.vs/ProjectEvaluation
/.vs/EventEaseBooking/config
/.vs/EventEaseBooking
