################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventEaseAPI/bin
/EventEaseBooking/bin
/.vs
